@model KNUAuthWeb.Models.User

@{
    ViewBag.Title = "Login";
}
<h2>Login Page</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <style>

        table {
            border-collapse: collapse;
        }

        td {
            padding: 10px;
            text-align: center;
        }
    </style>
    <table>
        <tr>
            <div>
                @Html.LabelFor(m => m.Username)
            </div>
            <div>
                @Html.TextBoxFor(m => m.Username)
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            
        </tr>
        <tr>
            <div>
                @Html.LabelFor(m => m.Password)
            </div>
            <div>
                @Html.PasswordFor(m => m.Password)
            </div>
        </tr>
    </table>
    <br>
    <button type="submit">@TempData["login.text"]</button>
    <br>
    <br>
}
@if (@TempData["scope"] != null)
{
<h1>УВАГА!</h1>
    <div>Буде видано дозвіл на: @TempData["scope"]</div>
    <br>
    <br>
    <br>
    @TempData["Error"]
}else{

}
