@model KNUAuthWeb.Models.User

@{
    ViewBag.Title = "Register";
}

<h2>Реєстрація</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <style>

        table {
            border-collapse: collapse;
        }

        td {
            padding: 10px;
            text-align: center;
        }
    </style>
    <table>
        <hr style="width:250px">
        <tr>
            <div>
                Логін
            </div>
            <div>
                @Html.TextBoxFor(m => m.Username, htmlAttributes: new { @class = "input" })
                @Html.ValidationMessageFor(m => m.Username)
            </div>
            
        </tr>
        <tr>
            <div>
                Пароль
            </div>
            <div>
                @Html.TextBoxFor(m => m.Password, htmlAttributes: new { @class = "input" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </tr>
        <hr style="width:250px">
        <tr>
            <div>
                Прізвище
            </div>
            <div>
                @Html.TextBoxFor(m => m.Surname, htmlAttributes: new { @class = "input" })
                @Html.ValidationMessageFor(m => m.Surname)
            </div>
        </tr>
        <tr>
            <div>
                Ім'я
            </div>
            <div>
                @Html.TextBoxFor(m => m.FirstName, htmlAttributes: new { @class = "input" })
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </tr>
        <tr>
            <div>
                По-батькові
            </div>
            <div>
                @Html.TextBoxFor(m => m.LastName, htmlAttributes: new { @class = "input" })
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </tr>
        <hr style="width:250px">
        <tr>
            <div>
                Email
            </div>
            <div>
                @Html.TextBoxFor(m => m.RestoreEmail, htmlAttributes: new { @class = "input" })
                @Html.ValidationMessageFor(m => m.RestoreEmail)
            </div>
        </tr>
        <hr style="width:250px">
    </table>



    <button class="kbutton" type="submit" style="width:200px;"><img src="~/src/img/gerb3.png" alt="Иконка">Зареєструватись</button>
}
