@model KNUAuthWeb.Models.editModel

@{
    ViewBag.Title = "Редагування профілю";
}

<h2>Редагування профілю</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <style>

        table {
            border-collapse: collapse;
        }

        td {
            padding: 10px;
            text-align: center;
        }
    </style>
    @if (Model != null)
    {
        
    <table>
        <hr style="width:250px">
        <tr>
            <div>
                Логін
            </div>
            <div>
                    @Html.TextBoxFor(m => m.user, htmlAttributes: new { @class = "input" })
                        @Html.ValidationMessageFor(m => m.user)
            </div>
            
        </tr>
        <tr>
        </tr>
        <hr style="width:250px">
        <tr>
            <div>
                Прізвище
            </div>
            <div>
                        @Html.TextBoxFor(m => m.surname, htmlAttributes: new { @class = "input" })
                        @Html.ValidationMessageFor(m => m.surname)
            </div>
        </tr>
        <tr>
            <div>
                Ім'я
            </div>
            <div>
                        @Html.TextBoxFor(m => m.firstname, htmlAttributes: new { @class = "input" })
                        @Html.ValidationMessageFor(m => m.firstname)
            </div>
        </tr>
        <tr>
            <div>
                По-батькові
            </div>
            <div>
                        @Html.TextBoxFor(m => m.middlename, htmlAttributes: new { @class = "input" })
                        @Html.ValidationMessageFor(m => m.middlename)
            </div>
        </tr>
        <hr style="width:250px">
        <tr>
            <div>
                Email
            </div>
            <div>
                        @Html.TextBoxFor(m => m.email, htmlAttributes: new { @class = "input", @value = "test" })
                        @Html.ValidationMessageFor(m => m.email)
            </div>
        </tr>
        <hr style="width:250px">
    </table>
    <table>
        <th>
                <form asp-controller="admin" asp-action="edit" method="post">
                    <button class="kbutton" type="submit" style="width:auto;"><b>Застосувати</b></button>
                </form>
        </th>
        <th>
                <form asp-controller="admin" asp-action="index" method="get">
                    <button class="kbutton" type="submit">Повернутись</button>
                </form>
        </th>
@*         <th>
                    <form asp-controller="admin" asp-action="password" method="get">
                        <button class="kbutton" type="submit">Скинути пароль</button>
                    </form>
        </th> *@
        <th>
                <form asp-controller="admin" asp-action="delete" method="post">
                    <input type="hidden" name="id" value="@Model.id" />
                    <button class="kbutton" type="submit" style="color:red"><b>Видалити</b></button>
                </form>
        </th>
    </table>
        
       
        
    }
    else
    {
        <form asp-controller="admin" asp-action="index" method="get">
        <button class="kbutton" type="submit"><img src="~/src/img/gerb3.png" alt="Иконка">Повернутись</button>
        </form>
    }




}
